<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_v4kOWJWEA5_7ra9ZzKfZ3Y-ThG7xhac</string>
	<key>GCM_SENDER_ID</key>
	<string>744690273120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliserkanboyraci.InstagramCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instagramcloneapp-f242a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcloneapp-f242a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744690273120:ios:de68b14ccca47041496c05</string>
</dict>
</plist>